<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Confirmation</title>
</head>

<body>
	<h1>Confirmation</h1>
	<div>
        <strong>Username: </strong><%- yourname %><br>
		<strong>PG: </strong><%- pg %><br>
		<strong>SG: </strong><%- sg %><br>
        <strong>SF: </strong><%- sf %><br>
		<strong>PF: </strong><%- pf %><br>
        <strong>C: </strong><%- c %><br>

        <hr>
		<a href="/home">HOME</a><br><br></li>
	</div>
</body>

</html>
